.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.pagination {
  display: flex;
  border-radius: 20px;
  background-color: rgb(243, 244, 246);
  padding: 6px;
  width: 34%;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  color: #211f1f;
  border-color: #eee;
}

.pagination button.active {
  font-weight: 700;
  color: #101010;
  background-color: rgb(209, 213, 219);
}

/* .pagination {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .pagination button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: blue;
  }
  
  .pagination button.active {
    font-weight: bold;
    color: rgb(209,213,219);
  }
  
  .pagination button:disabled {
    color: grey;
    cursor: not-allowed;
  }
   */
