.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crypto_list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
